body {
    /*background: url(D:\EPAM Java Online\turchyn_oleh\web\res\images\tab8.jpg) no-repeat center top / cover;*/
    color: #fff;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}
.nav_link{
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
    
}
.nav_link:hover{
    color: #333333;
}
.crud_link{
    color: #0081cc;
    text-decoration: none;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.tours {
    background: #f9feff;
    color: #000;
    border-collapse: collapse;
    text-align: center;
    /* border-radius: 15px; */
}
.caption{
    color: #fff;
}
th, td:first-child {
    background: #16f196;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: #f9feff;
    }
    th:first-child, td:first-child {
    text-align: left;
    }